<div class="row py-2">
  <div id="<%= dom_id tweet %>">
      <%= button_to "#{tweet.user.nickname}", "/users/#{tweet.user_id}", 
          class: "btn btn-link d-inline", 
          method: :get, 
          data: { turbo_frame: "_top" } %>
    <p class="pt-3">
      <%= tweet.text %>
    </p>
    <p>
        - <%= tweet.updated_at %>
    </p>
    <% if user_signed_in? && current_user.id == tweet.user_id %>
      <%= button_to "削除", "/tweets/#{tweet.id}", 
          class: "btn btn-link d-inline", 
          method: :delete, 
          form: { data: { turbo_confirm: "本当に？", 
                          turbo_frame: "_top" } } %>
    <% end %>
  </div>
</div>